* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #D9D9D9;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6DDCA;
}

.site-title {
  color: black;
  font-size: 1.2rem;
  margin: 20px 30px;
  font-weight: bolder;
  text-decoration: none;
  transition: ease .3s;
}

.site-title:hover {
  transform: scale(102%);
  color: rgb(59, 61, 76);
}

.nav-links {
  display: none;
}

nav button {
  border: none;
  background-color: #E6DDCA;
  font-size: 2rem;
  margin: 0 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}

.page-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 40px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 10px;
  /* border: solid red 2px; */
}

/* Image highlighted by scale and color */
.image-container:hover {
  transform: scale(1.02);
  background-color: rgb(195, 195, 195);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Image highlighted by scale */
.image-container:hover img {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out
}

.image-container {
  width: 100%;
  min-height: 200px;
  background-color: rgb(187, 187, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.item-text {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: solid blue 3px; */
  width: 100%;
}

.item-btn {
  border-radius: 20px;
  font-size: 1rem;
  height: 40px;
  border: none;
  background-color: #C1B2C8;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.);
  transition: ease .3s;
}

.item-btn:hover {
  box-shadow: none;
  transform: scale(1.05);
}

.item-title {
  margin: 25px 0 0 0;
}

.item-description {
  margin: 15px 0 25px 0;
}

.pop-up-product {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  padding: 30px 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 500px;
  height: 100%;
  text-align: center;
  display: none;

}

.exit-container {
  display: flex;
  justify-content: right;
}


.exit-btn {
  font-size: 1.3rem;
  border: none;
  transition: ease .3s;
  appearance: none;
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.exit-btn:hover {
  transform: scale(1.2);
  background-color: rgb(237, 237, 237);
}

.pop-up-title {
  font-size: 1.5rem;
}

.pop-up-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up-price h3 {
  font-size: 1.3rem;
  margin-right: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  padding: 15px 0 40px 0;
  border: none;
  /* border: solid blue 2px; */
}

label {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  /* border: solid green 2px; */
}

select,
input {
  font-size: 1.2rem;
  color: #232323;
  padding: 3px 5px;
  text-align: center;
  margin: 0 0 0 3px;
  width: 100px;

}

.add-to-cart-btn {
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  transition: ease .3s;
  appearance: none;
  padding: 15px 25px;
  background-color: #C1B2C8;
}

.add-to-cart-btn:hover {
  transform: scale(1.2);
  background-color: rgb(237, 237, 237);
}

@media (max-width: 320px) {

  label {
    padding: 3px;
  }

  .pop-up-product {
    width: 300px;
  }

  fieldset {
    padding: 10px;
  }

}


/* ipad viewport */
@media (min-width: 667px) and (max-width: 1023px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  .site-title {
    font-size: 2.2rem;
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  .nav-links {
    display: block;
    font-size: 1.6rem;
    margin: 0;
    transition: ease .3s;
  }

  .nav-links:hover {
    color: rgb(92, 92, 92);
    transform: scale(105%);
  }

  .nav-login {
    background-color: #f8f5ef;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 100px 3%;
  }

  .page-title {
    margin-top: 80px;
  }

  .items {
    width: 300px;
    margin: auto;
  }

  .image-container {
    height: 400px;
    width: 290px;
    display: flex;
  }

  .image-container img {
    width: 100%;
    height: auto;
    justify-content: center;
    object-fit: contain;
  }

  .pop-up-product {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    width: 400px;
    height: 600px;
  }

  .pop-up-title {
    font-size: 2rem;
  }

  .pop-up-price {
    display: flex;
    align-items: center;
  }

  .pop-up-price h3 {
    font-size: 1.5rem;
    margin-right: 10px;
  }

}


/* Desktop viewport */
@media (min-width: 1024px) {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  .site-title {
    font-size: 2.2rem;
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  .nav-links {
    display: block;
    font-size: 1.6rem;
    margin: 0;
    transition: ease .3s;
  }

  .nav-links:hover {
    color: rgb(92, 92, 92);
    transform: scale(105%);
  }

  .nav-login {
    background-color: #f8f5ef;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 100px 15%;
  }

  .page-title {
    margin-top: 80px;
  }

  .items {
    width: 300px;
    margin: auto;
  }

  .image-container {
    height: 400px;
    width: 290px;
    display: flex;
    /* border: solid green 3px; */
    display: flex;
  }

  .image-container img {
    width: 100%;
    height: auto;
    justify-content: center;
    object-fit: contain;
  }

  .pop-up-product {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    width: 400px;
    height: 600px;
  }

  .pop-up-title {
    font-size: 2rem;
  }

  .pop-up-price {
    display: flex;
    align-items: center;
  }

  .pop-up-price h3 {
    font-size: 1.5rem;
    margin-right: 10px;
  }

}

/*
inpo
https://www.klattermusen.com/sv-se/men/shop-all-jackets/
 */