h3 {
  font-size: 1.2rem;
}

body {
  margin: 0;
  background-color: #E6DDCA;
  font-family: Arial, Helvetica, sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  margin: 20px 30px;
}

.navP {
  display: none;
}

nav button {
  border: none;
  background-color: #E6DDCA;
  font-size: 2rem;
  margin: 0 30px;
}


.img01Container {
  display: grid;

}

.img01 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
}

.text01Overlay {
  background-color: rgba(0, 0, 0, 0.167);
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /* font-size: .7rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  gap: 10px;
}

.climbContainer h3 {
  margin: 10px;

}

.climbContainer p {
  margin: 10px;

}

.memberContainer p {
  font-size: .8rem;
  font-weight: bolder;
}

.memberContainer button {
  font-size: 1rem;
  padding: 4px 12px;
  background-color: #C1B2C8;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  transition: ease .5s;
}

.memberContainer button:hover {
  background-color: #dccce4;
  transform: scale(102%);
}


.skinny {
  font-weight: 300;
  margin: 0px 0px 30px 0px;
  font-size: 1rem;
  grid-column: span 2;
}

.bold {

  margin: 15px 0px 0px 0px;
  font-size: 1.5rem;
  font-weight: 500;
  grid-column: span 2;

}

.preAbout {
  text-align: center;
  margin: 40px 10px 30px 10px;
  padding: 0px 10px;
}

.preAbout h3 {
  margin: 0 0 15px 0;
}

.aboutUs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 12px;
  margin: 20px;
}

.boxContainer {
  border-radius: 5px;
  padding: 18px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 10px;
  transition: ease .5s;

}

.imgBox {

  object-fit: cover;
  height: 100%;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 10px;

}

.pBox {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #05050555;
  border-radius: 10px;
}

.pBox p {
  color: white;
  width: 80%;


}

.pBox h3 {
  display: none;
  color: white;
  width: 80%;
  line-height: 40px;
  margin: 20px 0 10px 0;
}



.prices {
  text-align: center;
  background-color: #C1B2C8;
  margin: 70px 0px 0px 0px;
  padding: 25px;
  padding-bottom: 50px;
}

.img02 {
  width: 100%;
  height: auto;
  display: block;
  margin: 0px 0px 0px 0px;

}

.hours {
  text-align: center;
  padding: 25px 0px 10px 0px;
}

.contact {
  text-align: center;
  background-color: #B2B9C8;
  margin: 42px 0px 0px 0px;
  padding: 25px;
}

.location {
  text-align: center;
  color: white;
  background-color: #050505;
  padding: 25px;

}

.map {
  display: none;
}

@media (min-width: 0px) and (max-width: 400px) {

  h3 {
    font-size: .8rem;
  }

  p {
    font-size: .6rem;

  }

  .climbContainer h3 {
    margin: 0;
    padding: 0;
  }

  .climbContainer p {
    margin: 0;
    padding: 0;
  }


  .aboutUs {
    grid-template-columns: repeat(1, 1fr);

  }

  .pBox p {
    font-size: 1.2rem;
  }


}

@media (min-width: 667px) and (max-width: 1024px) {

  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.5rem;

  }

  nav h3 {
    font-size: 1.6rem;
  }

  .memberContainer p {
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .memberContainer button {
    font-size: 1.5rem;
    padding: 10px 22px;

  }

  .climbContainer p {
    margin: 50px;
  }



  .preAbout {
    margin: 60px 0px;
  }

  .bold {
    font-size: 1.8rem;
    margin: 0 0 400px 0;
  }

  .skinny {
    font-size: 1.4rem;
  }
}


@media (min-width: 1024px) {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  .navRight {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  .navP {
    display: block;
    font-size: 1.6rem;
    margin: 0;
    transition: ease .3s;
  }

  .navP:hover {
    color: rgb(92, 92, 92);
    transform: scale(105%);
  }

  .logIn {
    background-color: #f8f5ef;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }


  .img-01 {
    max-height: 600px;
    object-fit: cover;

  }

  .aboutUs {
    grid-template-columns: repeat(4, 1fr);

  }


  .pBox h3 {
    display: block;
    font-size: 1.8rem;
    color: white;
    width: 80%;
    line-height: 40px;
    margin: 20px 0 10px 0;
  }

  .pBox p {
    font-size: 1.8rem;
  }



  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.5rem;

  }

  .climbContainer h3 {
    margin: 0 0 20px 0;
  }

  .memberContainer p {
    font-size: 1.5rem;
    font-weight: bolder;
  }


  .memberContainer button {
    font-size: 2rem;
    padding: 10px 22px;
    background-color: #C1B2C8;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    transition: ease .5s;
  }

  .preAbout {
    margin: 70px 0px;
  }

  .bold {
    font-size: 2rem;
    margin: 0 0 400px 0;
  }

  .skinny {
    font-size: 1.6rem;
  }

  .boxContainer:Hover {
    transform: scale(102%);
  }

  .prices {
    text-align: center;
    background-color: #C1B2C8;
    margin: 70px 0px 0px 0px;
    padding: 25px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

  }

  .pricesH3 {
    grid-column: span 3;

  }

  .pricesText1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .pricesText2 {
    display: flex;
    flex-direction: column;

  }

  .pricesText1 p {

    margin: 10px 30px;
    text-align: right;
  }

  .pricesText2 p {

    margin: 10px 30px;
    text-align: center;
  }

  .pricesText3 p {

    margin: 10px 30px;
    text-align: left;
  }

  .img02 {
    max-height: 600px;
    object-fit: cover;

  }

  .location {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  .locationText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .ourLocation {
    font-weight: bolder;
    font-size: 2.1rem;
  }

  .locationText p {
    line-height: 45px;
    margin: 15px;
  }

  .adress {
    color: #c9c9c9;
    font-size: 1.7rem;
  }

  .map {
    display: block;
    margin: 50px;
  }



}